
body {
    background-color:  #99FFCC ;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#kontener {
 width: 1000px;
 margin: auto;
}
#blokbanera{
    background-color: #99FF66;
    height: 200px;
}
#menu {
    background-color: #66CCFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
#blok1,#blok2,#blok3 {
    width: 310px;
    padding: 10px;
    display: block;
    float: left;
    color: black;
}
#stopka {
    background-color:  #66CCFF;
    color: #006666;
  text-align: right;
    height: 30px;
    padding: 20px;
    clear: both;
}
a {
    color: #006666;
    padding: 50px;
    font-size: 200%;
    text-decoration: none;
}
h2, h3 {
    text-align: center;
}
.reset {
    background-color: #FF0000  ;
}
.submit {
    background-color: #00FF00;
}