a {
	text-decoration: none;
color: darkviolet;
}

body, html {
	height: 100%;
	background-image: url("1694218.jpg");
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
	width: 100%;
}




#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	background: linear-gradient(to bottom, #ff3300 0%, #ff99cc 100%);
	color: white;
	margin-top: 20px;
	font-size: 35px;
	letter-spacing: 3px;
	font-weight: 900;
	text-align: center;
	opacity: 0.9;

}

#menu
{
	background: linear-gradient(to bottom, #ffff99 0%, #ff3300 100%);
	margin-top: 20px;
	padding: 10px;
	opacity: 0.9;
	box-shadow: aqua 1px 1px 20px 2px;
	color: aqua;
	
}

#topbar
{
	background: linear-gradient(to bottom, #ff3300 0%, #ff99cc 100%);
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 170px;
	opacity: 0.9;
	box-shadow: aqua 1px 1px 20px 2px;
}

#topbarL
{
	float:left;
	padding: 20px;
	width: 138px;
	text-align: center;
	border-right: 2px dotted #cccccc;
}
#obrazek2 {
	width: 130px;
	height: 130px;
}
#obrazek3 {
	width: 130px;
	height: 130px;
	transform: scaleX(-1);
}
#obrazek
{
	float:right;
	padding: 20px;
	width: 138px;
	text-align: center;
	border-left: 2px dotted #cccccc;
	display: flex;
	height: 130px;

}
#topbarR
{
	float: left;
	padding: 20px;
	width: 520px;
	font-size: 16px;
	text-align: center;

}


#content
{
	float: left;
	padding: 40px;
	width: 920px;
	background-color: #dedede;
	min-height: 400px;
	text-align: justify;
	opacity: 0.7;

}

#footer
{
	clear: both;
	color: black;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}

.option
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dotted #444444;
	opacity: 0.8;
}

.option:hover
{
	background-color: #000000;
	cursor: pointer;
}

.optionL
{
	font-size:18px;
	height:25px;
	padding: 10px;
	border-bottom: 2px dotted #444444;
}

.optionL:hover
{
	background-color: #f36742;
	color: white;
	cursor: pointer;
}

.bigtitle
{
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
}

.dottedline
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444;
}