
.menu {
    grid-area: m;
}

/* taki o komentarz */


.header {
    grid-area: h;
}


.footer {
    grid-area: f;
}


.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 600px 40px;
    grid-template-areas: "h h h h h h h h h h h h" "m c c c c c c c c c c c" "f f f f f f f f f f f f";
}





.content {
    grid-area: c;
}
